/* Add CSS Styling */

.num1{
    background-color: rgb(246, 150, 150);
   font: Verdana, "Dejavu Sans", sans-serif;
}
 
.num3,#num4 {
    font-size: 24px;   
}

#num2  {
    color: #0000ff;
    font-size: 36px;
    
}

#num4 {
    background-color: #90ee90;
    font-weight: bold;
}