.black {
    background-color: #000000;
    color: white;
}

.yellow {
    background-color: rgb(255, 255, 0);
    color: hsl(0, 0%, 0%);
}

.black,.yellow {
    font-size= 28px;
    font-family= Helvetica, "Times New Roman", sans-serif;
}