body {
  font-family: Arial, Helvetica, sans-serif;
}

.para.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
  font: 14px;
}

/* .small-para {
  font-size: 12px;
  font-weight: 800;
} */
/* No need to Add */
/* .small-para {
  font-size: 10px;
  font-weight: 1000;
} */

/* remove: overriding class selector */ */
.para {
  font-size: 22px;
} 

.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

/* .button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
} */

/* Fix: Cancel declaration */
.button.cancel {
  background: white;
  color: black;
  font
}


div.text {
  color: rgb(0, 0, 0);
  font-size: 22px;
  font-weight: 100;
}

/* We can also use descendant selector */
div.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

